/binding.xmi
/binding0.xmi
/binding0_subtype_uncovered.ecore
/binding0_supertype_uncovered.xmi
/binding0_virtual_mm.ecore
/binding1.xmi
/binding1_subtype_uncovered.ecore
/binding1_supertype_uncovered.xmi
/binding1_virtual_mm.ecore
/binding2.xmi
/binding2_subtype_uncovered.ecore
/binding2_supertype_uncovered.xmi
/binding2_virtual_mm.ecore
/binding3.xmi
/binding3_subtype_uncovered.ecore
/binding3_supertype_uncovered.xmi
/binding3_virtual_mm.ecore
/binding0_subtype_uncovered.xmi
/binding1_subtype_uncovered.xmi
/binding2_subtype_uncovered.xmi
/binding3_subtype_uncovered.xmi
/binding0_supertype_uncovered.ecore
/binding1_supertype_uncovered.ecore
/binding2_supertype_uncovered.ecore
/binding3_supertype_uncovered.ecore
/generated/
